cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
Deprecated==1.2.12
ecdsa==0.17.0
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jwcrypto==0.9.1
jwt==1.2.0
MarkupSafe==2.0.1
pyasn1==0.4.8
pycparser==2.20
python-jose==3.3.0
python-jwt==3.3.0
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.20
Werkzeug==2.0.1
wrapt==1.12.1
